name: Update Blog Posts

on:
  schedule:
    - cron: "0 0 * * 0" # weekly on Sunday
  workflow_dispatch: # allow manual trigger

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://abishov.com/rss.xml"
          max_post_count: 5
